# Symfony / Composer
/vendor/
\var/

# Environment files
.env.local
.env.*.local
.env.test
.env.test.local

# Symfony Asset Mapper
/public/assets/
/assets/vendor/

# Webpack Encore (si présent)
/node_modules/
/public/build/
npm-debug.log
yarn-error.log

# Uploads
/public/uploads/
!public/uploads/.gitkeep

# IDE
.idea/

# Docker logs
/docker/*.log
