# Symfony/Composer
/vendor/
/var/

# Env & secrets locaux
.env.local
.env.*.local
.env.test
.env.test.local

# Build/Cache front (si générés localement)
public/build/
/public/assets/*-*.css
public/assets/*-*.js
public/manifest.json

# Uploads utilisateurs (on garde un .gitkeep vide)
public/uploads/
!public/uploads/.gitkeep
.idea/
###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
