/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19  Distrib 10.11.14-MariaDB, for debian-linux-gnu (x86_64)
--
-- Host: localhost    Database: healthytest
-- ------------------------------------------------------
-- Server version	10.11.14-MariaDB-ubu2204

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `accord_aromatique`
--

DROP TABLE IF EXISTS `accord_aromatique`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `accord_aromatique` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `plante_id` int(11) NOT NULL,
  `ingredient_id` int(11) DEFAULT NULL,
  `ingredient_type` varchar(50) DEFAULT NULL,
  `score` double NOT NULL DEFAULT 1,
  PRIMARY KEY (`id`),
  UNIQUE KEY `u_pair_ing` (`plante_id`,`ingredient_id`),
  UNIQUE KEY `u_pair_type` (`plante_id`,`ingredient_type`),
  KEY `IDX_E38D4CF177B16E8` (`plante_id`),
  KEY `IDX_E38D4CF933FE08C` (`ingredient_id`),
  CONSTRAINT `FK_E38D4CF177B16E8` FOREIGN KEY (`plante_id`) REFERENCES `plante` (`id`) ON DELETE CASCADE,
  CONSTRAINT `FK_E38D4CF933FE08C` FOREIGN KEY (`ingredient_id`) REFERENCES `ingredient` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=84 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accord_aromatique`
--

LOCK TABLES `accord_aromatique` WRITE;
/*!40000 ALTER TABLE `accord_aromatique` DISABLE KEYS */;
/*!40000 ALTER TABLE `accord_aromatique` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `article`
--

DROP TABLE IF EXISTS `article`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `article` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `utilisateur_id` int(11) NOT NULL,
  `titre` varchar(255) NOT NULL,
  `contenu` longtext NOT NULL,
  `date` datetime NOT NULL COMMENT '(DC2Type:datetime_immutable)',
  `image` varchar(255) DEFAULT NULL,
  `validation` tinyint(1) NOT NULL DEFAULT 0,
  `categorie` varchar(255) NOT NULL,
  `source` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `IDX_23A0E66FB88E14F` (`utilisateur_id`),
  CONSTRAINT `FK_23A0E66FB88E14F` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateur` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=67 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `article`
--

LOCK TABLES `article` WRITE;
/*!40000 ALTER TABLE `article` DISABLE KEYS */;
/*!40000 ALTER TABLE `article` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bienfait`
--

DROP TABLE IF EXISTS `bienfait`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `bienfait` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(255) NOT NULL,
  `description` longtext DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=77 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bienfait`
--

LOCK TABLES `bienfait` WRITE;
/*!40000 ALTER TABLE `bienfait` DISABLE KEYS */;
/*!40000 ALTER TABLE `bienfait` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `commentaire`
--

DROP TABLE IF EXISTS `commentaire`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `commentaire` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `recette_id` int(11) DEFAULT NULL,
  `utilisateur_id` int(11) NOT NULL,
  `contenu` longtext DEFAULT NULL,
  `date` datetime NOT NULL COMMENT '(DC2Type:datetime_immutable)',
  `note` int(11) DEFAULT NULL,
  `signaler` tinyint(1) NOT NULL DEFAULT 0,
  `article_id` int(11) DEFAULT NULL,
  `signale_par_id` int(11) DEFAULT NULL,
  `type` smallint(6) NOT NULL,
  `signale_le` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `IDX_67F068BC89312FE9` (`recette_id`),
  KEY `IDX_67F068BCFB88E14F` (`utilisateur_id`),
  KEY `IDX_67F068BC7294869C` (`article_id`),
  KEY `IDX_67F068BCAE190A20` (`signale_par_id`),
  CONSTRAINT `FK_67F068BC7294869C` FOREIGN KEY (`article_id`) REFERENCES `article` (`id`) ON DELETE CASCADE,
  CONSTRAINT `FK_67F068BC89312FE9` FOREIGN KEY (`recette_id`) REFERENCES `recette` (`id`) ON DELETE CASCADE,
  CONSTRAINT `FK_67F068BCAE190A20` FOREIGN KEY (`signale_par_id`) REFERENCES `utilisateur` (`id`),
  CONSTRAINT `FK_67F068BCFB88E14F` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateur` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `commentaire`
--

LOCK TABLES `commentaire` WRITE;
/*!40000 ALTER TABLE `commentaire` DISABLE KEYS */;
INSERT INTO `commentaire` VALUES
(12,42,24,'recette simple et savoureuse','2025-09-03 15:44:05',3,0,NULL,NULL,1,NULL),
(13,NULL,24,'Article tr├¿s int├®ressent','2025-09-03 15:51:53',NULL,0,47,NULL,2,NULL);
/*!40000 ALTER TABLE `commentaire` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `doctrine_migration_versions`
--

DROP TABLE IF EXISTS `doctrine_migration_versions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `doctrine_migration_versions` (
  `version` varchar(191) NOT NULL,
  `executed_at` datetime DEFAULT NULL,
  `execution_time` int(11) DEFAULT NULL,
  PRIMARY KEY (`version`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `doctrine_migration_versions`
--

LOCK TABLES `doctrine_migration_versions` WRITE;
/*!40000 ALTER TABLE `doctrine_migration_versions` DISABLE KEYS */;
/*!40000 ALTER TABLE `doctrine_migration_versions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gene`
--

DROP TABLE IF EXISTS `gene`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `gene` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) NOT NULL,
  `description` longtext DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_F0FCA936C6E55B5` (`nom`)
) ENGINE=InnoDB AUTO_INCREMENT=70 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gene`
--

LOCK TABLES `gene` WRITE;
/*!40000 ALTER TABLE `gene` DISABLE KEYS */;
/*!40000 ALTER TABLE `gene` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gene_bienfait`
--

DROP TABLE IF EXISTS `gene_bienfait`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `gene_bienfait` (
  `gene_id` int(11) NOT NULL,
  `bienfait_id` int(11) NOT NULL,
  PRIMARY KEY (`gene_id`,`bienfait_id`),
  KEY `IDX_1256E80738BEE1C3` (`gene_id`),
  KEY `IDX_1256E8075FE95C38` (`bienfait_id`),
  CONSTRAINT `FK_1256E80738BEE1C3` FOREIGN KEY (`gene_id`) REFERENCES `gene` (`id`) ON DELETE CASCADE,
  CONSTRAINT `FK_1256E8075FE95C38` FOREIGN KEY (`bienfait_id`) REFERENCES `bienfait` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gene_bienfait`
--

LOCK TABLES `gene_bienfait` WRITE;
/*!40000 ALTER TABLE `gene_bienfait` DISABLE KEYS */;
INSERT INTO `gene_bienfait` VALUES
(49,46),
(50,46),
(51,46),
(52,46),
(53,58),
(54,47),
(54,59),
(55,48),
(55,49),
(56,46),
(57,46),
(58,46),
(59,49),
(59,51),
(60,48),
(60,49),
(61,49),
(62,46),
(63,46),
(64,48),
(64,59),
(65,48),
(66,46),
(67,48),
(68,48),
(68,51),
(69,48);
/*!40000 ALTER TABLE `gene_bienfait` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ingredient`
--

DROP TABLE IF EXISTS `ingredient`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `ingredient` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(255) NOT NULL,
  `description` longtext DEFAULT NULL,
  `unite` varchar(255) NOT NULL,
  `calories` int(11) DEFAULT NULL,
  `proteines` double DEFAULT NULL,
  `glucides` double DEFAULT NULL,
  `lipides` double DEFAULT NULL,
  `origine` varchar(255) DEFAULT NULL,
  `bio` tinyint(1) NOT NULL DEFAULT 0,
  `image` varchar(255) DEFAULT NULL,
  `type` varchar(255) DEFAULT NULL,
  `allergenes` longtext DEFAULT NULL,
  `saisonnalite` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=215 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ingredient`
--

LOCK TABLES `ingredient` WRITE;
/*!40000 ALTER TABLE `ingredient` DISABLE KEYS */;
/*!40000 ALTER TABLE `ingredient` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ingredient_gene`
--

DROP TABLE IF EXISTS `ingredient_gene`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `ingredient_gene` (
  `ingredient_id` int(11) NOT NULL,
  `gene_id` int(11) NOT NULL,
  PRIMARY KEY (`ingredient_id`,`gene_id`),
  KEY `IDX_515E7A05933FE08C` (`ingredient_id`),
  KEY `IDX_515E7A0538BEE1C3` (`gene_id`),
  CONSTRAINT `FK_515E7A0538BEE1C3` FOREIGN KEY (`gene_id`) REFERENCES `gene` (`id`) ON DELETE CASCADE,
  CONSTRAINT `FK_515E7A05933FE08C` FOREIGN KEY (`ingredient_id`) REFERENCES `ingredient` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ingredient_gene`
--

LOCK TABLES `ingredient_gene` WRITE;
/*!40000 ALTER TABLE `ingredient_gene` DISABLE KEYS */;
/*!40000 ALTER TABLE `ingredient_gene` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `messenger_messages`
--

DROP TABLE IF EXISTS `messenger_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `messenger_messages` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `body` longtext NOT NULL,
  `headers` longtext NOT NULL,
  `queue_name` varchar(190) NOT NULL,
  `created_at` datetime NOT NULL COMMENT '(DC2Type:datetime_immutable)',
  `available_at` datetime NOT NULL COMMENT '(DC2Type:datetime_immutable)',
  `delivered_at` datetime DEFAULT NULL COMMENT '(DC2Type:datetime_immutable)',
  PRIMARY KEY (`id`),
  KEY `IDX_75EA56E0FB7336F0` (`queue_name`),
  KEY `IDX_75EA56E0E3BD61CE` (`available_at`),
  KEY `IDX_75EA56E016BA31DB` (`delivered_at`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `messenger_messages`
--

LOCK TABLES `messenger_messages` WRITE;
/*!40000 ALTER TABLE `messenger_messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `messenger_messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `plante`
--

DROP TABLE IF EXISTS `plante`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `plante` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nom_commun` varchar(255) NOT NULL,
  `nom_scientifique` varchar(255) NOT NULL,
  `description` longtext NOT NULL,
  `partie_utilisee` varchar(255) NOT NULL,
  `precautions` longtext NOT NULL,
  `image` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=125 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `plante`
--

LOCK TABLES `plante` WRITE;
/*!40000 ALTER TABLE `plante` DISABLE KEYS */;
/*!40000 ALTER TABLE `plante` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `plante_bienfait`
--

DROP TABLE IF EXISTS `plante_bienfait`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `plante_bienfait` (
  `plante_id` int(11) NOT NULL,
  `bienfait_id` int(11) NOT NULL,
  PRIMARY KEY (`plante_id`,`bienfait_id`),
  KEY `IDX_F7AB8E56177B16E8` (`plante_id`),
  KEY `IDX_F7AB8E565FE95C38` (`bienfait_id`),
  CONSTRAINT `FK_F7AB8E56177B16E8` FOREIGN KEY (`plante_id`) REFERENCES `plante` (`id`) ON DELETE CASCADE,
  CONSTRAINT `FK_F7AB8E565FE95C38` FOREIGN KEY (`bienfait_id`) REFERENCES `bienfait` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `plante_bienfait`
--

LOCK TABLES `plante_bienfait` WRITE;
/*!40000 ALTER TABLE `plante_bienfait` DISABLE KEYS */;
/*!40000 ALTER TABLE `plante_bienfait` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recette`
--

DROP TABLE IF EXISTS `recette`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `recette` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `utilisateur_id` int(11) NOT NULL,
  `titre` varchar(255) NOT NULL,
  `description` longtext DEFAULT NULL,
  `instructions` longtext NOT NULL,
  `temps_preparation` int(11) DEFAULT NULL,
  `difficulte` varchar(255) DEFAULT NULL,
  `validation` tinyint(1) NOT NULL,
  `portions` int(11) DEFAULT NULL,
  `image` varchar(255) DEFAULT NULL,
  `temps_cuisson` int(11) DEFAULT NULL,
  `created_at` datetime NOT NULL COMMENT '(DC2Type:datetime_immutable)',
  PRIMARY KEY (`id`),
  KEY `IDX_49BB6390FB88E14F` (`utilisateur_id`),
  CONSTRAINT `FK_49BB6390FB88E14F` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateur` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=66 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recette`
--

LOCK TABLES `recette` WRITE;
/*!40000 ALTER TABLE `recette` DISABLE KEYS */;
/*!40000 ALTER TABLE `recette` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recette_ingredient`
--

DROP TABLE IF EXISTS `recette_ingredient`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `recette_ingredient` (
  `id_recette` int(11) NOT NULL,
  `id_ingredient` int(11) NOT NULL,
  `quantite` double NOT NULL,
  `id` int(11) NOT NULL AUTO_INCREMENT,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_recette_ingredient` (`id_recette`,`id_ingredient`),
  KEY `IDX_17C041A99726CAE0` (`id_recette`),
  KEY `IDX_17C041A9CE25F8A7` (`id_ingredient`),
  CONSTRAINT `FK_17C041A99726CAE0` FOREIGN KEY (`id_recette`) REFERENCES `recette` (`id`) ON DELETE CASCADE,
  CONSTRAINT `FK_17C041A9CE25F8A7` FOREIGN KEY (`id_ingredient`) REFERENCES `ingredient` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=75 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recette_ingredient`
--

LOCK TABLES `recette_ingredient` WRITE;
/*!40000 ALTER TABLE `recette_ingredient` DISABLE KEYS */;
/*!40000 ALTER TABLE `recette_ingredient` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reset_password_request`
--

DROP TABLE IF EXISTS `reset_password_request`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `reset_password_request` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `selector` varchar(20) NOT NULL,
  `hashed_token` varchar(100) NOT NULL,
  `requested_at` datetime NOT NULL COMMENT '(DC2Type:datetime_immutable)',
  `expires_at` datetime NOT NULL COMMENT '(DC2Type:datetime_immutable)',
  PRIMARY KEY (`id`),
  KEY `IDX_7CE748AA76ED395` (`user_id`),
  CONSTRAINT `FK_7CE748AA76ED395` FOREIGN KEY (`user_id`) REFERENCES `utilisateur` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reset_password_request`
--

LOCK TABLES `reset_password_request` WRITE;
/*!40000 ALTER TABLE `reset_password_request` DISABLE KEYS */;
INSERT INTO `reset_password_request` VALUES
(1,27,'d3m4A6u4iO0SMOwT6fg5','xdt+e16lZw8SpiYTts6PZgNccMQhEdp863/VytVmgF0=','2025-10-03 19:25:55','2025-10-03 20:25:55');
/*!40000 ALTER TABLE `reset_password_request` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tisane`
--

DROP TABLE IF EXISTS `tisane`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `tisane` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nom` varchar(255) NOT NULL,
  `mode_preparation` longtext NOT NULL,
  `image` varchar(255) DEFAULT NULL,
  `dosage` longtext DEFAULT NULL,
  `precautions` longtext DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=83 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tisane`
--

LOCK TABLES `tisane` WRITE;
/*!40000 ALTER TABLE `tisane` DISABLE KEYS */;
/*!40000 ALTER TABLE `tisane` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tisane_bienfait`
--

DROP TABLE IF EXISTS `tisane_bienfait`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `tisane_bienfait` (
  `tisane_id` int(11) NOT NULL,
  `bienfait_id` int(11) NOT NULL,
  PRIMARY KEY (`tisane_id`,`bienfait_id`),
  KEY `IDX_13E295F72930F991` (`tisane_id`),
  KEY `IDX_13E295F75FE95C38` (`bienfait_id`),
  CONSTRAINT `FK_13E295F72930F991` FOREIGN KEY (`tisane_id`) REFERENCES `tisane` (`id`) ON DELETE CASCADE,
  CONSTRAINT `FK_13E295F75FE95C38` FOREIGN KEY (`bienfait_id`) REFERENCES `bienfait` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tisane_bienfait`
--

LOCK TABLES `tisane_bienfait` WRITE;
/*!40000 ALTER TABLE `tisane_bienfait` DISABLE KEYS */;
INSERT INTO `tisane_bienfait` VALUES
(62,44),
(62,45),
(62,46),
(63,44),
(63,45),
(64,44),
(64,45),
(65,46),
(66,46),
(67,51),
(67,52),
(68,46),
(69,44),
(69,46),
(70,44),
(70,45),
(71,44),
(71,46),
(72,44),
(72,46),
(73,51),
(73,52),
(74,44),
(74,46),
(75,46),
(75,52),
(76,46),
(76,51),
(77,51),
(77,52),
(78,44),
(78,45),
(79,44),
(79,45),
(80,46),
(81,44),
(81,45);
/*!40000 ALTER TABLE `tisane_bienfait` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tisane_plante`
--

DROP TABLE IF EXISTS `tisane_plante`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `tisane_plante` (
  `tisane_id` int(11) NOT NULL,
  `plante_id` int(11) NOT NULL,
  PRIMARY KEY (`tisane_id`,`plante_id`),
  KEY `IDX_A0A8F8E62930F991` (`tisane_id`),
  KEY `IDX_A0A8F8E6177B16E8` (`plante_id`),
  CONSTRAINT `FK_A0A8F8E6177B16E8` FOREIGN KEY (`plante_id`) REFERENCES `plante` (`id`) ON DELETE CASCADE,
  CONSTRAINT `FK_A0A8F8E62930F991` FOREIGN KEY (`tisane_id`) REFERENCES `tisane` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tisane_plante`
--

LOCK TABLES `tisane_plante` WRITE;
/*!40000 ALTER TABLE `tisane_plante` DISABLE KEYS */;
INSERT INTO `tisane_plante` VALUES
(62,91),
(63,93),
(64,94),
(65,92),
(66,95),
(67,96),
(68,97),
(69,98),
(70,91),
(70,93),
(70,94),
(71,92),
(71,93),
(71,95),
(72,94),
(72,97),
(72,98),
(73,96),
(73,98),
(74,91),
(74,95),
(75,99),
(75,101),
(76,97),
(76,102),
(77,96),
(77,102),
(78,93),
(78,100),
(79,91),
(79,94),
(79,100),
(80,92),
(80,98),
(81,91),
(81,93);
/*!40000 ALTER TABLE `tisane_plante` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `utilisateur`
--

DROP TABLE IF EXISTS `utilisateur`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `utilisateur` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `email` varchar(180) NOT NULL,
  `roles` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL COMMENT '(DC2Type:json)' CHECK (json_valid(`roles`)),
  `password` varchar(255) NOT NULL,
  `nom` varchar(255) NOT NULL,
  `prenom` varchar(255) NOT NULL,
  `preferences` longtext DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UNIQ_IDENTIFIER_EMAIL` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `utilisateur`
--

LOCK TABLES `utilisateur` WRITE;
/*!40000 ALTER TABLE `utilisateur` DISABLE KEYS */;
/*!40000 ALTER TABLE `utilisateur` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-10-06 13:19:54
