{% extends 'base.html.twig' %}

{% block title %}Modifier la recette{% endblock %}

{% block body %}
    {% include 'recette/_form.html.twig' with {
        'form': form,
        'button_label': 'Modifier',
        'form_title': 'Modifier la recette'
    } %}

    <a href="{{ path('recette_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# Le script de preview image et collection est dans _form.html.twig, donc pas besoin ici sauf si tu préfères #}
{% endblock %}
