{% set is_edit = form.vars.value.id is defined and form.vars.value.id %}
{% extends 'base.html.twig' %}

{% block title %}Modifier Utilisateur{% endblock %}

{% block body %}
    {% include 'utilisateur/_form.html.twig' with {
        'button_label': 'Modifier',
        'form_title': 'Modifier utilisateur',
        'is_edit': is_edit
    } %}
    <div class="d-flex gap-2 mt-4">
        <a href="{{ path('utilisateurs_liste') }}" class="btn btn-secondary">Retour à la liste</a>
        {{ include('utilisateur/_delete_form.html.twig') }}
    </div>
{% endblock %}
