{# templates/article/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Modifier l’article{% endblock %}
{% block page_title %}Modifier l’article{% endblock %}

{% block content %}
    {# On passe l'objet article pour afficher l'image actuelle dans le partial #}
    {{ include('article/_form.html.twig', {
        button_label: 'Modifier',
        form_title: 'Modifier l’article',
        article: article,
        form_action: path('article_edit', {id: article.id})
    }) }}

    {% set backHref = is_granted('ROLE_ADMIN')
        ? path('article_liste_admin')
        : path('article_mes_articles')
    %}

    <div class="mt-3">
        <a href="{{ backHref }}" class="btn btn-outline-secondary">← Retour à la liste</a>
    </div>
{% endblock %}
